.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: auto;
    background-color: #1c1f24;
    padding: 0 30px;
    padding-bottom: 20px;
}
.footer h3 {
    margin-bottom: 0;
}