.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home > img {
    position: absolute;
    height: auto;
    z-index: 0;
}

#cloud-1 {
    top: 0px;
    left: 5vw; /*100px*/
    width: 200px;
}

#cloud-2 {
    top: 10px;
    left: 30vw; /*400px*/
    width: 90px;
}

#cloud-3 {
    top: 50px;
    left: 70vw; /*1100px*/
    width: 170px;
}

@media only screen and (max-width: 850px) {
    #cloud-1, #cloud-3 {
        display: none;
    }
    #cloud-2 {
        left: 220px;
    }
}

.landing {
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: rgb(174, 202, 255);
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing > h1 {
    z-index: 1;
    margin: 0;
    font-size: 3.9rem;
    font-weight: 500;
}

.landing > h4 {
    z-index: 1;
    color: #252931;
    font-weight: 400;
    font-size: 1.15rem;
}

#have-fun {
    font-size: 3rem;
    font-weight: 500;
}

.home a {
    margin: 0;
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(166, 197, 255);
}

.home a:hover {
    text-decoration: underline;
}

.benefits {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 90px;
}

.benefits div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.benefits h2 {
    margin: 0;
    font-size: 2.3rem;
}

.benefits p {
    align-self: center;
    font-size: 1.5rem;
    width: 210px;
}

.quote-container {
    width: fit-content;
    font-style: italic;
    margin-top: 75px;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    font-size: 1.8rem;
    margin: 0;
}

.quote-container h6 {
    width: fit-content;
    font-size: 1.3rem;
    align-self: flex-end;
    margin-top: 3px;
    margin-bottom: 0;
    padding-right: 20px;
}