@font-face {
  font-family: 'Itim';
  src: url(./fonts/Itim-Regular.ttf);
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Itim';
  background-color: #343941;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
